.jumbotron {
  background-image: url("img/header.jpg");
  color: white;
  text-align: center;
  text-shadow: 1px 1px black;
  border-radius: 0px;
}

.comment {
  font-family: 'Satisfy', cursive;
  font-size: 20px;
}

a {
  color: black;
}

footer {
  text-align: center;
}

.trouver{
  margin-left: 10%;
  margin-bottom: 27%;
}

.gallery {
  margin-left: 10%;
  margin-bottom: 10%;
}

.contact {
  margin-left: 10%;
  margin-bottom: 18%;
}

.pizza {
  margin-left: 10%;
  margin-bottom: 10%;
}

.contenair {
  width: 80%;
  margin: auto;
}

h1 {
  font-size: 55px;
  text-align: center;
  font-family: 'Lobster', cursive;
}

h6 {
  text-align: center;
  font-size: 25px;
  font-family: 'Pacifico', cursive;
}


#btnContactUs{
  background-color: #DB8C44;
}


/*Map*/
.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

/*jumboo*/

.Menu, .Gallery, .Restaurants, .Contact {
margin-bottom: 50px;
}

/*Restaurant*/
.Brussels, .Antwerp, .Charleroi{
  margin-bottom: 50px;
}
